body {
    text-align: center;   
}
#text-info {
  float:left;
  margin-left:10%;
  margin-top:6%;
  width: 590.5px;
}
#monster-image {
  float:right;
  width:650.92px;
  height:65%; 
}

#head {
  font-weight: bold;
  font-size:110px;
}

#second-head {
  font-weight: bold;
  font-size:36.5px;
  margin-top: -5.25%;
  margin-bottom: -0.5%;
}

#main-text{
font-size:15px;
}

p {
  text-align: left;
  font-size: 10px;
}
.start-btn {
  clear:both;
  float:left;
}

/* 
html {
  margin-top:-3%;
}
body{
  margin-left:7.5%;
} */

#header-main-site {
margin-top:-1%;
}