body {
    text-align: center;
}

/* .arrows-container {
    display: flex;
    justify-content: space-between;
} */

/* .arrows-container .arrow {
    width: 40px;
} */

#text-info {
  float:left;
  margin-left:2%;
}
#monster-image {
  float:left;
}

h1 {
  font-weight: bold;
}

p {
  text-align: left;
  font-size: 10px;
}
.btn {
  clear:both;
}


#resultArea{
    width:80%;
    margin-left:10%;
    margin-right:10%;
    height:60%;
    display: flex;
    justify-content: space-between;
}

.resultElemLeft {
    padding: 10px;
    height:60%;
    float: left;
}
 .resultElemRight{
    padding: 10px;
    height:60%;
    float: left;
 }

 .resultElemRight p{
    font-size:20px;
    text-align:center;
 }

 .resultElemRight span{
    font-size:14px;
    float:left;
    width:50%;
 }

.resultElemRight input {
    float: right;
    background-color:transparent;
    color: white;
    border-radius:20px;
    border: 2px solid white;
}