* {
  font-family: Arial, Helvetica, sans-serif !important;
  color: #fff;
  font-weight: 700;
}

html, body {
  height: 100%;
  text-align: center;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  text-align: left;
}

.site-content {
  margin-top: 5%;
}

.logo {
  width:90px;
  height: 90px;
  float: top-left;
  margin-left: 3%;
}

.arrows-container {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}

.arrows-container .arrow {
  width: 40px;
}
.arrow-next .arrow .arrow-right {
  float:right;
}

.question-first {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2px;
}

.age-field {
    background: none;
    border: none;
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    width:15%;
    border-radius: 20px;
    border: 2px double #ffffff;
}

.age-field::placeholder {
        color: #fff;
        font-size: 16px;
    }

textarea:focus, input:focus{
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.monsters-container {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.monster-block {
  flex: 0 1 20%;
}

.monster-block img {
  max-width: 100%;
}

.monster-block-selected {
    opacity: 1;

}
.monster-block-noselected {
    opacity: 0;
  
}

#question2{
  margin-top: 25%;
}

.btn {
  font-size: 13px;
  line-height: 100%;
  font-family: "Google Sans", Roboto, arial, sans-serif;
  background-color: rgba(0, 0, 0, 0);
  margin-top:15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  padding-top: 10px;
  padding-bottom:10px;
  border-radius: 20px;
  border: 2px double #ffffff;
  width:150px;
}

.btn:hover {
background: #7dd3f7;
}

.active {
  background-color: #7dd3f7;
}

.question-second {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2px;
}
.step-second-container{
  display: flex;
  justify-content: space-between;
  margin-bottom:10px;
}

.time-line{
  width:100%;
  height: 140px;
  float:top-left;
}

.monster-main {
  size:50%
}
 .monster-block.selected .monster-img {
  display: none;
}

#myYear{
  margin-left:48.75%;
  margin-top:-50px;
  font-size: 12px;
}

.monsters-step-second-container {
  display: flex;
  justify-content: center;
  margin-top:-2%;
}
